/* Book 페이지 스타일 */
.book-container {
  position: relative;
  padding: 4rem 0 0 0;
  width: 100vw;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 기본 그리드 스타일 */
.book-grid {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.book-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-images {
  display: flex;
  justify-content: center;
}

.book-infos {
  display: flex;
  justify-content: center;
}

.book-item {
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 33.3%;
  border-bottom: 1.5px solid black;
  padding: 0 4rem;
}

/* 개별 책 크기 설정 */
.book-item-small .book-image-wrapper {
  width: 60%;
}

.book-item-medium .book-image-wrapper {
  width: 70%;
}

.book-item-large .book-image-wrapper {
  width: 80%;
}

.book-image-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.book-info {
  text-align: center;
  width: 100%;
  padding: 2.5rem 4rem;
}

.book-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
  letter-spacing: -0.01em;
  font-family: Pretendard;
  line-height: 1.4;
  margin: 0;
  word-break: keep-all;
}

@media (max-width: 768px) {
  .book-page-title {
    font-size: 3rem;
    top: 8rem;
  }

  /* 모바일용 그리드 스타일 */
  .book-grid {
    gap: 4rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .book-item {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1.5px solid black;
    padding: 0;
  }

  .book-item-small .book-image-wrapper {
    width: 60%;
  }

  .book-item-medium .book-image-wrapper {
    width: 70%;
  }

  .book-item-large .book-image-wrapper {
    width: 80%;
  }

  .book-info {
    padding: 2rem;
  }

  .book-title {
    font-size: 1.6rem;
  }
}
